###############################################
# {{ snmpd_conf_template_header }}
###############################################
#
# Configuration    : {{ snmpd_conf_snmpd_conf_file }}
# Template Version : {{ snmpd_conf_snmpd_conf_version }}-{{ snmpd_conf_snmpd_conf_revision }}
#
# {{ snmpd_conf_project_author }} ({{ snmpd_conf_project_email }})
###############################################


com2sec readonly  default         public

group MyROSystem v1        paranoid
group MyROSystem v2c       paranoid
group MyROSystem usm       paranoid
group MyROGroup v1         readonly
group MyROGroup v2c        readonly
group MyROGroup usm        readonly
group MyRWGroup v1         readwrite
group MyRWGroup v2c        readwrite
group MyRWGroup usm        readwrite

view all    included  .1                               80
# view system included  .iso.org.dod.internet.mgmt.mib-2.system

# context sec.model sec.level match  read   write  notif
access MyROSystem ""     any       noauth    exact  system none   none
access MyROGroup ""      any       noauth    exact  all    none   none
access MyRWGroup ""      any       noauth    exact  all    all    none


###############################################################################
# System contact information
#
syslocation {{ snmpd_conf_snmpd_location }}
syscontact {{ snmpd_conf_snmpd_contact_name }} {{ snmpd_conf_snmpd_contact_email }}
# -----------------------------------------------------------------------------
