# {{ resolv_conf_template_header }}
###############################################
#
# Configuration    : {{ resolv_conf_resolv_conf_file }}
# Template Version : {{ resolv_conf_resolv_conf_version }}-{{ resolv_conf_resolv_conf_revision }}
#
# {{ resolv_conf_project_author }} ({{ resolv_conf_project_email }})
###############################################


search {{ resolv_conf_search_domain }}
{% for item in resolv_conf_nameservers %}
nameserver {{ item }}
{% endfor %}

