###############################################
# {{ etc_hosts_template_header }}
###############################################
#
# Configuration    : {{ etc_hosts_etc_hosts_file }}
# Template Version : {{ etc_hosts_etc_hosts_version }}-{{ etc_hosts_etc_hosts_revision }}
#
# {{ etc_hosts_project_author }} ({{ etc_hosts_project_email }})
###############################################


# LOCAL INFO
#############################################
127.0.0.1 localhost localhost.localdomain localhost4 localhost4.localdomain4
::1       localhost localhost.localdomain localhost6 localhost6.localdomain6


# OUR PERSONAL INFO
#############################################
{{ ansible_default_ipv4.address | default('127.0.0.1') }} {{ ansible_fqdn }} {{ ansible_hostname }} {{ inventory_hostname }}


{% if etc_hosts_custom_hosts is defined and etc_hosts_custom_hosts != '' %}
# CUSTOM HOSTS:
#############################################
{% for item in etc_hosts_custom_hosts %}
{{ item }}
{% endfor %}
{% endif %}
